#status_updates{position:relative;padding: 30px;margin-left: 10px;line-height:1;margin-right: 10px;}
.status_update_text{position:relative;top: -190px;left: 230px;font-size: 35px;width: 525px;margin:0;}
.timestamp_status_update{margin-bottom: 5px;margin-top: 5px;position:relative;color: rgb(20,20,20);font-size: 25px;line-height:1;}
#update_box{position:relative;margin:0;padding:0}
.break{position:relative;line-height:1;margin: 10px;padding:0;}
.profile_picture_status{position:relative;width:200px;height:200px;border:2px solid black;}
.user_name{text-decoration: none;position:relative;font-size: 35px;width: 525px;line-height:1;margin:0;padding:0;}
.user_name_body{position: relative;margin-left: 230px;top: -200px;}
.user_name_link{width:200px;line-height:1;text-decoration:none;margin:0;padding:0}
.status_update_like{position:relative;cursor:pointer;line-height:1;padding:0;margin-top: 0px;margin-bottom: 0px;}
.status_update_like_me{position:relative;color:red;top:-35px;left:95px;width:200px;line-height:1;cursor:default;margin:0;padding:0}
.status_update_dislike{position:relative;cursor:pointer;line-height:1;padding:0;margin-top: 0px;margin-bottom: 0px;}
.me{cursor:default}
.name_link{text-decoration:none;}
.post_delete{position:absolute;left:485px;top:0px;width:15px;cursor:pointer;line-height:1;margin:0;padding:5px;border-radius: 5px;}
.comment_delete{position: relative;margin-left: 345px;margin-top:-26px;top:-40px;width:15px;cursor:pointer;line-height:1;padding:5px;border-radius: 5px;}
.comment_text{position: relative;cursor:pointer;padding:0;margin-top: 0px;margin-bottom: 0px;}
.status_update{position:relative;line-height:1;margin:0;padding:0}
.comment_textarea{width: 90%;margin-bottom: 25px;padding: 10px;font-size: 25px;margin-top: 10px;resize: none;position:relative;line-height:1;}
.see_more_button{width:100%;}
.comment_submit{position:relative;border:1px solid black;margin-left: 350px;}
.comment_text_body{font-size: 25px;margin-bottom: 0px;margin-top: 0px;position:relative;margin-left: 140px;width: 320px;top: -125px;line-height:1;padding:0}
.comment_profile_picture{position:relative;max-width: 125px;max-height: 125px;line-height:1;cursor:pointer;margin:0;padding:0}
.comment_break{background-color: gray;height: 2px;top:-10px;position:relative;line-height:1;margin:0;padding:0}
.comment_timestamp{position:relative;margin-top: -60px;font-size: 25px;line-height:1;}
.comment_name{position:relative;font-size: 25px;width: 500px;cursor:pointer;margin:0;padding:0}
.home_post_name_link{text-decoration:none;}
.comment_body{padding: 10px;border: 1px solid gray;margin-right: 50px;margin-left: 50px;position:relative;margin-top: 10px;padding-bottom:10px;margin-bottom: 10px;}
.comment_like{position:relative;font-size: 25px;font-family:Chivo, sans-serif;cursor:pointer;margin-top: 0px;margin-bottom: 0px;}
.comment_like_me{cursor:default}
.comment_dislike{position:relative;font-size: 25px;font-family:Chivo, sans-serif;cursor:pointer;margin-top: 0px;margin-bottom: 0px;}
.comment_dislike_me{cursor:default}
.favorite_post_text{position:relative;margin:-5px;top:-35px;left: 280px;color:red;cursor:pointer;width:70px;}
#status_update_form{position:relative;}
.comment_user_name_body{position:relative;margin-left: 140px;top: -125px;}
.post_functions_table{text-align: center;width: 625px;position: relative;margin-top: -90px;margin-left: 205px;}
.post_functions_unit{font-size: 30px;width: 150px;}
.post_functions_post_comment_unit{font-size: 30px;width: 250px;}
.post_functions_seperator{text-align:center}
.post_functions_comment_unit{width: 175px;}
.post_functions_comment_table{top: -80px;position: relative;margin-left: 140px;height: 20px;}
.comment{position:relative;}
.comment_show{position:relative;text-align: center;margin-top:10px;}
.comment_input_body{width: 100%;position:relative;text-align:center;margin-top:0px;}
.break{height:3px;background-color:gray;}
#home_post_input{width: 90%;margin-right: 30px;margin-left: 30px;padding: 15px;position: relative;height:100px;font-size:40px;resize:none;}
#home_post{margin-bottom: 65px;}
#home_post_button{right: 40px;position: absolute;height:60px;margin-top: 105px;}
.select_audience_box_body{margin-top: 10px;position:absolute;}
.display_to_button{height:60px;}
.select_body_options
{margin-left: 3px;border-left: 1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;margin-top: -7px;min-width: 300px;z-index: 2;position: absolute;box-shadow:inset 0px 0px 5px 0px black;background-color: gray;
    background:-webkit-gradient(linear, left top, left bottom, from(white), to(#CFCFCF));
    background:-moz-linear-gradient(top, white, #CFCFCF);}
.select_body_option_text{font-size:30px}
.checkbox{height:50px}